<template>
  <div class="gauge">
    <!--
    <svg @click="clicked" width="470" height="252" viewBox="0 0 470 252" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 235C5 204.796 10.9491 174.888 22.5077 146.983C34.0663 119.078 51.008 93.723 72.3654 72.3655L202.473 202.473C198.202 206.745 194.813 211.816 192.502 217.397C190.19 222.978 189 228.959 189 235H5Z" fill="#007319"/>
      <path d="M72.3655 72.3653C93.723 51.0078 119.078 34.0662 146.983 22.5076C174.888 10.949 204.796 4.99988 235 4.99988L235 189C228.959 189 222.978 190.19 217.397 192.501C211.816 194.813 206.745 198.201 202.473 202.473L72.3655 72.3653Z" fill="#7FE300"/>
      <path d="M235 5C265.204 5 295.112 10.9491 323.017 22.5077C350.922 34.0663 376.277 51.008 397.635 72.3654L267.527 202.473C263.255 198.202 258.184 194.813 252.603 192.502C247.022 190.19 241.041 189 235 189V5Z" fill="#FB8700"/>
      <path d="M397.635 72.3655C418.992 93.723 435.934 119.078 447.492 146.983C459.051 174.888 465 204.796 465 235L281 235C281 228.959 279.81 222.978 277.499 217.397C275.187 211.816 271.799 206.745 267.527 202.473L397.635 72.3655Z" fill="#C52020"/>
      <path d="M192.343 226.619C191.898 227.88 191.526 229.019 191.221 230H5.04332C6.19531 163.689 30.2596 107.621 70.4482 68.0791C110.848 28.3294 167.826 5 235 5C302.174 5 359.152 28.3294 399.552 68.0791C439.74 107.621 463.805 163.689 464.957 230H278.779C278.474 229.019 278.102 227.88 277.657 226.619C276.166 222.391 273.838 216.707 270.495 210.98C263.947 199.76 252.641 187 235 187C217.359 187 206.053 199.76 199.505 210.98C196.162 216.707 193.834 222.391 192.343 226.619Z" stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
      <path :style="rotate" id="pointer" d="M226.061 231.858L226.061 231.857L226.061 231.857L226.062 231.843L226.063 231.829L235 32.3433L243.937 231.829L243.938 231.843L243.939 231.857L243.939 231.857L243.939 231.858L243.939 231.859L243.94 231.868L243.942 231.907C243.943 231.925 243.945 231.95 243.947 231.979C243.948 232.004 243.95 232.033 243.952 232.066C243.959 232.207 243.97 232.417 243.978 232.686C243.996 233.224 244.01 233.995 243.991 234.922C243.953 236.782 243.785 239.242 243.274 241.688C242.76 244.147 241.917 246.505 240.582 248.229C239.279 249.913 237.508 251 235 251C232.492 251 230.721 249.913 229.418 248.229C228.083 246.505 227.239 244.147 226.726 241.688C226.215 239.242 226.047 236.782 226.009 234.922C225.99 233.995 226.004 233.224 226.022 232.686C226.03 232.417 226.041 232.207 226.048 232.066C226.052 231.995 226.056 231.942 226.058 231.907L226.06 231.868L226.061 231.859L226.061 231.858Z" fill="#FF0000" stroke="white" stroke-width="2"/>
      <circle cx="235" cy="235" r="9.5" fill="#C4C4C4" stroke="#FFFF"/>
      <circle cx="235" cy="235" r="3" fill="#FFFF"/>
    </svg>
    <svg width="470" height="252" viewBox="0 0 470 252" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M464.973 235C464.973 204.796 459.024 174.888 447.465 146.983C435.906 119.078 418.965 93.7229 397.607 72.3654C376.25 51.008 350.895 34.0663 322.99 22.5077C295.085 10.9491 265.177 5 234.973 5C204.769 5 174.86 10.9491 146.956 22.5077C119.051 34.0663 93.6957 51.008 72.3382 72.3654C50.9807 93.7229 34.0391 119.078 22.4805 146.983C10.9219 174.888 4.97278 204.796 4.97278 235L188.877 235C188.877 228.947 190.069 222.953 192.386 217.36C194.703 211.767 198.098 206.686 202.378 202.405C206.659 198.125 211.74 194.73 217.333 192.413C222.925 190.097 228.919 188.904 234.973 188.904C241.026 188.904 247.02 190.097 252.613 192.413C258.205 194.73 263.287 198.125 267.567 202.405C271.848 206.686 275.243 211.767 277.56 217.36C279.876 222.953 281.068 228.947 281.068 235H464.973Z" fill="#7FE300"/>
      <path d="m464.97 232c0-30.204-5.949-60.112-17.508-88.017-11.558-27.905-28.5-53.26-49.858-74.618l-130.04 130.04c4.281 4.28 7.676 9.361 9.993 14.954 2.316 5.593 3.508 11.587 3.508 17.64h183.9z" fill="#FF0000"/>
      <path d="M192.316 226.619C191.871 227.88 191.498 229.019 191.193 230H5.01613C6.16812 163.689 30.2324 107.621 70.421 68.0791C110.821 28.3294 167.799 5 234.973 5C302.147 5 359.125 28.3294 399.525 68.0791C439.713 107.621 463.777 163.689 464.929 230H278.752C278.447 229.019 278.074 227.88 277.63 226.619C276.139 222.391 273.811 216.707 270.468 210.98C263.92 199.76 252.613 187 234.973 187C217.332 187 206.026 199.76 199.477 210.98C196.135 216.707 193.807 222.391 192.316 226.619Z" stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
      <path :style="rotate" id="pointer" d="M226.034 231.858L226.034 231.857L226.034 231.857L226.035 231.843L226.036 231.829L234.973 32.3433L243.91 231.829L243.911 231.843L243.912 231.857L243.912 231.857L243.912 231.858L243.912 231.859L243.913 231.868L243.915 231.907C243.916 231.925 243.918 231.95 243.92 231.979C243.921 232.004 243.923 232.033 243.925 232.066C243.932 232.207 243.942 232.417 243.951 232.686C243.969 233.224 243.983 233.995 243.964 234.922C243.926 236.782 243.758 239.242 243.247 241.688C242.733 244.147 241.89 246.505 240.555 248.229C239.252 249.913 237.481 251 234.973 251C232.465 251 230.694 249.913 229.39 248.229C228.056 246.505 227.212 244.147 226.699 241.688C226.188 239.242 226.02 236.782 225.982 234.922C225.963 233.995 225.976 233.224 225.994 232.686C226.003 232.417 226.014 232.207 226.021 232.066C226.025 231.995 226.028 231.942 226.031 231.907L226.033 231.868L226.034 231.859L226.034 231.858Z" fill="#FF0000" stroke="white" stroke-width="2"/>
      <circle cx="234.973" cy="235" r="9.5" fill="#C4C4C4" stroke="white"/>
      <circle cx="234.973" cy="235" r="3" fill="white"/>
    </svg>
    -->
    <svg
      :style="styling"
      @click="track"
      @mousedown="drag"
      @mouseup="drop"
      @touchstart="drag"
      @touchend="drop"
      @mousemove="move"
      @touchmove="move"
      fill="none"
      :width="width"
      viewBox="0 0 470 252"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="background"
        d="m464.97 235c0-30.204-5.949-60.112-17.508-88.017s-28.5-53.26-49.858-74.618c-21.357-21.357-46.712-38.299-74.617-49.858s-57.813-17.508-88.017-17.508-60.113 5.9491-88.017 17.508c-27.905 11.559-53.26 28.5-74.618 49.858-21.358 21.358-38.299 46.713-49.858 74.618s-17.508 57.813-17.508 88.017h183.9c0-6.053 1.192-12.047 3.509-17.64s5.712-10.674 9.992-14.955c4.281-4.28 9.362-7.675 14.955-9.992 5.592-2.316 11.586-3.509 17.64-3.509 6.053 0 12.047 1.193 17.64 3.509 5.592 2.317 10.674 5.712 14.954 9.992 4.281 4.281 7.676 9.362 9.993 14.955 2.316 5.593 3.508 11.587 3.508 17.64h183.9z"
        fill="#7FE300"
      />
      <path
        class="threshold"
        d="m464.97 232c0-30.204-5.949-60.112-17.508-88.017-11.558-27.905-28.5-53.26-49.858-74.618l-130.04 130.04c4.281 4.28 7.676 9.361 9.993 14.954 2.316 5.593 3.508 11.587 3.508 17.64h183.9z"
        fill="#f00"
      />
      <!--
      <svg class="threshold-rotation" height="230">
          <path class="background" d="M5 230C5 260.204 10.9491 290.112 22.5077 318.017C34.0663 345.922 51.008 371.277 72.3654 392.635C93.7229 413.992 119.078 430.934 146.983 442.492C174.888 454.051 204.796 460 235 460C265.204 460 295.112 454.051 323.017 442.492C350.922 430.934 376.277 413.992 397.635 392.635C418.992 371.277 435.934 345.922 447.492 318.017C459.051 290.112 465 260.204 465 230L278.7 230C278.7 235.739 277.57 241.421 275.374 246.723C273.177 252.025 269.958 256.843 265.901 260.901C261.843 264.958 257.025 268.177 251.723 270.374C246.421 272.57 240.739 273.7 235 273.7C229.261 273.7 223.579 272.57 218.277 270.374C212.975 268.177 208.157 264.958 204.099 260.901C200.042 256.843 196.823 252.025 194.626 246.723C192.43 241.421 191.3 235.739 191.3 230L5 230Z" fill="#FF0000"/>
          <path class="threshold" d="M465 230C465 199.796 459.051 169.888 447.492 141.983C435.934 114.078 418.992 88.7229 397.635 67.3654C376.277 46.008 350.922 29.0663 323.017 17.5077C295.112 5.94912 265.204 -1.32026e-06 235 0C204.796 1.32026e-06 174.888 5.94913 146.983 17.5077C119.078 29.0663 93.7229 46.008 72.3654 67.3654C51.008 88.7229 34.0663 114.078 22.5077 141.983C10.9491 169.888 5 199.796 5 230L191.3 230C191.3 224.261 192.43 218.579 194.626 213.277C196.823 207.975 200.042 203.157 204.099 199.099C208.157 195.042 212.975 191.823 218.277 189.626C223.579 187.43 229.261 186.3 235 186.3C240.739 186.3 246.421 187.43 251.723 189.626C257.025 191.823 261.843 195.042 265.901 199.099C269.958 203.157 273.177 207.975 275.374 213.277C277.57 218.579 278.7 224.261 278.7 230H465Z" fill="#7FE300"/>
      </svg>
       -->
      <path
        class="border"
        d="m192.32 226.62c-0.445 1.261-0.818 2.4-1.123 3.381h-186.18c1.152-66.311 25.216-122.38 65.405-161.92 40.4-39.75 97.378-63.079 164.55-63.079s124.15 23.329 164.55 63.079c40.188 39.542 64.252 95.61 65.404 161.92h-186.18c-0.305-0.981-0.678-2.12-1.122-3.381-1.491-4.228-3.819-9.912-7.162-15.639-6.548-11.22-17.855-23.98-35.495-23.98-17.641 0-28.947 12.76-35.496 23.98-3.342 5.727-5.67 11.411-7.161 15.639z"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="10"
      />
      <path
        :style="rotationStyle"
        class="pointer"
        d="m226.03 231.86v-1e-3l2e-3 -0.028 8.937-199.49 8.937 199.49 2e-3 0.028v1e-3 1e-3l1e-3 9e-3 2e-3 0.039c1e-3 0.018 3e-3 0.043 5e-3 0.072 1e-3 0.025 3e-3 0.054 5e-3 0.087 7e-3 0.141 0.017 0.351 0.026 0.62 0.018 0.538 0.032 1.309 0.013 2.236-0.038 1.86-0.206 4.32-0.717 6.766-0.514 2.459-1.357 4.817-2.692 6.541-1.303 1.684-3.074 2.771-5.582 2.771s-4.279-1.087-5.583-2.771c-1.334-1.724-2.178-4.082-2.691-6.541-0.511-2.446-0.679-4.906-0.717-6.766-0.019-0.927-6e-3 -1.698 0.012-2.236 9e-3 -0.269 0.02-0.479 0.027-0.62 4e-3 -0.071 7e-3 -0.124 0.01-0.159l2e-3 -0.039 1e-3 -9e-3v-1e-3z"
        fill="#f00"
        stroke="#fff"
        stroke-width="2"
      />
      <circle cx="234.97" cy="235" r="9.5" fill="#C4C4C4" stroke="#fff" />
      <circle cx="234.97" cy="235" r="3" fill="#fff" />
    </svg>
    <div>{{ unit ? `${value} ${unit}` : value }}</div>
  </div>
</template>

<script>
export default {
  name: "Gauge",
  props: {
    value: Number,
    unit: String,
    min: Number,
    max: Number,
    width: {
      type: Number,
      default: 400,
    },
    theme: String,
    touchable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      move: () => {},
      innerValue: this.value,
    };
  },
  methods: {
    track: function (event) {
      if (this.touchable && event.target.parentNode instanceof SVGElement) {
        const height =
          event.target.parentNode.getBoundingClientRect().height * 0.89;
        if (height < event.offsetY) {
          this.innerValue =
            event.offsetX - this.width / 2 <= 0 ? this.min : this.max;
        } else {
          const a = Math.abs(event.offsetY - height);
          const b = Math.abs(event.offsetX - this.width / 2);
          const angle = Math.atan2(a, b) * (180 / Math.PI);
          const real_angle =
            event.offsetX >= this.width / 2 ? 180 - angle : 0 + angle;
          this.innerValue = Math.round(
            this.min + ((this.max - this.min) / 180) * real_angle
          );
        }
        this.$emit("change", this.innerValue);
      }
    },
    drag: function (event) {
      if (this.touchable) {
        event.preventDefault();
        event.stopImmediatePropagation();
        this.move = this.track;
      }
    },
    drop: function (event) {
      if (this.touchable) {
        event.preventDefault();
        event.stopImmediatePropagation();
        this.move = () => {};
      }
    },
  },
  watch: {
    value: function (newValue) {
      this.innerValue = newValue;
    },
  },
  computed: {
    rotationStyle() {
      let value = this.innerValue;
      if (value >= this.max) {
        value = this.max;
      } else if (value <= this.min) {
        value = this.min;
      }
      return `--rotation: ${
        (180 / (this.max - this.min)) * (value - this.min) - 90
      }deg`;
    },
    styling() {
      switch (this.theme) {
        case "futuristic":
          return `
            --pointer-color: #222831;
            --background-color: #00adb5;
            --threshold-color: #04009a;
            --border-color: #393e46;
          `;
        case "retro":
          return `
            --pointer-color: #c8c2bc;
            --background-color: #8e9775;
            --threshold-color: #e28f83;
            --border-color: #b87333;
          `;
        default:
          return `
            --pointer-color: #f00;
            --background-color: #7FE300;
            --threshold-color: #cf0000;
            --border-color: #000;
          `;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pointer {
  transform: rotate(var(--rotation));
  transform-origin: 50% 93%;
  transition: transform 0.3s ease-out;
  fill: var(--pointer-color);
}

.threshold {
  transform: rotate(var(--rotation));
}

.threshold-rotation {
  transform: rotate(90deg);
}

.background {
  fill: var(--background-color);
}

.threshold {
  fill: var(--threshold-color);
}

.border {
  stroke: var(--border-color);
}
</style>
