<template>
  <div class="number-input">
    <input
      :value="value"
      :min="min"
      :max="max"
      @change="
        (event) => {
          $emit('change', parseInt(event.target.value));
        }
      "
      type="number"
    />
  </div>
</template>

<script>
export default {
  name: "NumberInput",
  props: {
    value: { type: Number, default: 10 },
    min: { type: Number, default: 0 },
    max: { type: Number, default: 100 },
  },
  emits: ["change"],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
