<template>
  <div class="number-input">
    <select
      @change="
        (event) => {
          $emit('change', event.target.value);
        }
      "
    >
      <option v-for="item in this.values" :key="item">{{ item }}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: "OptionInput",
  props: {
    values: Array,
  },
  emits: ["change"],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
