<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>Gauge in Vue</h1>
    <Gauge :value=rng :theme="theme" :width="width" :min="0" :max="100" />
    <h2>Theme</h2>
    <OptionInput :values="themes" @change="(theme) => updateTheme(theme)" />
    <h2>Scale</h2>
    <NumberInput :value="width" :min="0" :max="1000" @change="(newWidth) => updateWidth(newWidth)" />
    <h2>Value</h2>
    <NumberInput :value="value" @change="(newValue) => updateValue(newValue)" />
    <Button v-on:click="count(value, 100, 1)">Count up</Button>
    <Button v-on:click="count(value, 0, -1)">Count down</Button>
    <Button v-on:click="stopCount">Stop</Button>
    <br/>
    <Gauge @change="updateValue" :touchable="true" :value=value :theme="theme" :width="width" :min="50" :max="65" />
    <Gauge @change="updateValue" :touchable="true" :value=value :theme="theme" :width="width" :min="0" :max="100" />
    <Gauge :value=gbpRate :theme="theme" :width="width" unit="GBP" :min="0" :max="2" />
    <Gauge :value=jpyRate :theme="theme" :width="width" unit="JPY" :min="0" :max="200" />
    <Gauge :value=windSpeed :theme="theme" :width="width" unit="km/h" :min="0" :max="50" />
    <Gauge :value=temperature :theme="theme" :width="width" unit="°C" :min="0" :max="40" />
  </div>
</template>

<script>
import Gauge from './components/Gauge.vue';
import NumberInput from './components/NumberInput.vue';
import OptionInput from './components/OptionInput.vue';

export default {
  name: 'App',
  data() {
    return {
      rng: 42,
      rates: null,
      value: 10,
      weather: null,
      counter: null,
      width: 400,
      themes: ["normal", "retro", "futuristic"],
      theme: "normal",
    }
  },
  components: {
    Gauge,
    NumberInput,
    OptionInput
  },
  methods: {
    updateValue: function(newValue) {
      this.value = newValue;
    },
    updateWidth: function(newWidth) {
      this.width = newWidth;
    },
    updateTheme: function(theme) {
      this.theme = theme;
    },
    nextRng: function() {
      this.rng = Math.floor(Math.random() * 100);
    },
    count: function(start, ceiling, change) {
      if(this.counter != null) { clearTimeout(this.counter); }
      this.value = start;
      if(change > 0 ? start < ceiling : start >= ceiling) {
        const self = this;
        this.counter = setTimeout(() => {
          self.count(self.value + change, ceiling, change);
        }, 500)
      }
    },
    stopCount: function() {
      clearTimeout(this.counter);
    },
    startInterval: function() {
      const self = this;
      setInterval(function() {
        self.nextRng();
      }, 3000);
    }
  },
  computed: {
    gbpRate: function() {
      return (this.rates ?? [])['GBP'] ?? -1;
    },
    jpyRate: function() {
      return (this.rates ?? [])['JPY'] ?? -1;
    },
    temperature: function() {
      return parseInt(((this.weather ?? [])['temperature'] ?? "-1").split(' ')[0]);
    },
    windSpeed: function() {
      return parseInt(((this.weather ?? [])['wind'] ?? "-1").split(' ')[0]);
    }
  },
  created() {
    fetch('https://api.ratesapi.io/api/latest?base=CHF')
    .then(res => res.json())
    .then(data => { console.log(data); this.rates = data['rates']; })
    .catch(err => console.log(err));
    fetch('https://goweather.herokuapp.com/weather/berlin')
    .then(res => res.json())
    .then(data => { console.log(data); this.weather = data; })
    .catch(err => console.log(err));
    this.nextRng();
    this.startInterval();
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
